h1 {
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 30px;
    background-color: #F0B71E;
    box-shadow: 10px 5px 5px #F5871B;
    padding: 30px;
    border-radius: 10%;
}
body{
    padding: 3%;
    background-color:#429CED;
}
#Foto{
    /* border-radius: 100%;
    box-shadow: 10px 5px 5px #F5871B; */
    float: left;
    height: 300px;
    padding: 10px;
    background-color: green;
    }

#Sobremim{
    text-align: center;
}
/* div{
    text-align: center;
    background-color: #3F6FE0;
    padding: 50px;
    border-radius: 20%;
} */
/* h2{
    text-align: center;
    font-family:'Press Start 2P';
    background-color: #F0B71E;
    box-shadow: 10px 5px 5px #F5871B;
    padding: 10px;
    border-radius: 50%;
} */
p{
    text-align: center;
}
.icon{
    border-radius: 100%;

}
.hab{
    position: absolute;
    right: 50px;
    bottom:20%;
    text-align: center;
    list-style:none;
}
#hab2 li:nth-child(odd){
    background-color: yellow;
}
div{
    border: 2px solid green;
    
}
#caixa{
    height: 320px;
}
#caixa1{
    position: relative;
}
